<h1>My test website</h1>

<p>
  Sed ac diam non odio varius <a href="http://www.example.com/">pellentesque sit amet eget erat</a>. Nulla condimentum luctus quam vitae porta. Nulla laoreet non augue eu vulputate. Pellentesque vitae dui id dolor mattis bibendum. Integer in lectus eros. Aenean laoreet, magna blandit tempor convallis, lectus elit feugiat orci, lacinia molestie tellus enim in quam. Nunc enim libero, pulvinar in tincidunt ac, commodo vitae odio.
</p>

<button (click)="showModal('myFirstModal')">Show modal #1</button>
<button (click)="showModal('mySecondModal')">Show modal #2</button>

<h2>My test form</h2>
<form>
  <fieldset>
    <div>
      <label for="name">Name</label>
      <input id="name">
    </div>
    <button type="submit">Submit form</button>
  </fieldset>
</form>

<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>
<p>A lot of text to get a scrollbar.</p>

<modal modalName="myFirstModal">
  <h1>My first modal</h1>
  <p>JAJAJA</p>
</modal>

<modal modalName="mySecondModal">
  <h1>My second modal</h1>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
  <p>A lot of text to get a scrollbar.</p>
</modal>