<!--div aria-hidden="true"-->
  <h1>My test website</h1>

  <button (click)="showModal()">Show modal</button>

  <p>
    Sed ac diam non odio varius <a href="http://www.example.com/">pellentesque sit amet eget erat</a>. Nulla condimentum luctus quam vitae porta. Nulla laoreet non augue eu vulputate. Pellentesque vitae dui id dolor mattis bibendum. Integer in lectus eros. Aenean laoreet, magna blandit tempor convallis, lectus elit feugiat orci, lacinia molestie tellus enim in quam. Nunc enim libero, pulvinar in tincidunt ac, commodo vitae odio.
  </p>

  <h2>My test form</h2>
  <form>
    <fieldset>
      <div>
        <label for="name">Name</label>
        <input id="name">
      </div>
      <button type="submit">Submit form</button>
    </fieldset>
  </form>
<!--/div-->

<modal modalName="myModal">
  <h1>My modal</h1>
  <p>JAJAJA</p>
</modal>